{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}
    <form action="{{ url_for('quote') }}" method="post">
        <div class="mb-3">
            <input type="text" name="symbol" autofocus placeholder="Symbol" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Get Quote</button>
    </form>
    {% if quote %}
        <h3>{{ quote['name'] }} ({{ quote['symbol'] }})</h3>
        <p>Price: {{ quote['price'] }}</p>
    {% endif %}
{% endblock %}
